<%= form_tag root_url, method: :get do %>
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li><%= result.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>Arg! No games found!</p>
<% end %>